Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [1]:
# Import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
import pandas as pd

driver = webdriver.Chrome(r'/usr/bin/chromedriver') # Webdriver for linux
time.sleep(4)

# opening up naukri.com website on automated chrome window
driver.get('https://www.naukri.com')
time.sleep(5)

In [2]:
# finding element for job search bar
search_field_deisgnation = driver.find_element_by_class_name('suggestor-input') # job search bar
search_field_deisgnation.send_keys('Data Analyst')

In [3]:
# entering location bangalore in location search bar
search_field_designation = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input') # job search bar
search_field_designation.send_keys('Bangalore')

In [4]:
# clicking on search button
search_button = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()
time.sleep()

In [5]:
job_titles = []
company_names = []
locations_list = []
experience_list = []

In [6]:
# so lets extract all the tags having the job-titles
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

# Extracting text of job titles
for i in range(0, 10):
    job_titles.append(title_tags[i].text)

job_titles

['Data Analyst / Business Analyst',
 'Data Analyst / Business Analyst',
 'data analyst/ data analytics / Business analyst- SQL/Python/SAS',
 'Senior Data Analyst',
 'Sr Data Analyst II',
 'Business analyst + data Analysis',
 'Business analyst + data Analysis',
 'Data Analyst - Alteryx',
 'Consultant - Data Analyst',
 'Senior Business Analyst - Data Sciences and Advanced Analytics']

In [7]:
# Extract company name tags
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

# Getting text from the data 
for i in range(0, 10):
    company_names.append(company_tags[i].text)

company_names

['METRO Cash & Carry',
 'METRO Cash & Carry',
 'Leading US MNC into Analytics',
 'Flipkart',
 'IHS Markit',
 'Anlage Infotech (I) Pvt. Ltd.',
 'Anlage Infotech (I) Pvt. Ltd.',
 'Capco',
 'Flipkart',
 'Vmware']

In [8]:
# Extracting experience location
location = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span[1]')

# Getting text from extracted data
for i in range(0, 10):
    locations_list.append(location[i].text)
locations_list

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [9]:
# so lets extract all the tags having the experience required data
experience_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')

for i in range(0, 10):
    experience_list.append(experience_tags[i].text)
experience_list

['3-8 Yrs',
 '3-8 Yrs',
 '2-7 Yrs',
 '3-7 Yrs',
 '3-6 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '4-7 Yrs',
 '1-3 Yrs',
 '3-7 Yrs']

In [10]:
print(len(job_titles))
print(len(company_names))
print(len(locations_list))
print(len(experience_list))

10
10
10
10

In [11]:
# Creating Data Fame
df = pd.DataFrame({'job_titles' : job_titles, 'company_names' : company_names, 'locations_list' : locations_list, 'experience_list' : company_names})
df

,job_titles,company_names,locations_list,experience_list
0,Data Analyst / Business Analyst,METRO Cash & Carry,Bangalore/Bengaluru,METRO Cash & Carry
1,Data Analyst / Business Analyst,METRO Cash & Carry,Bangalore/Bengaluru,METRO Cash & Carry
2,data analyst/ data analytics / Business analys...,Leading US MNC into Analytics,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /...",Leading US MNC into Analytics
3,Senior Data Analyst,Flipkart,Bangalore/Bengaluru,Flipkart
4,Sr Data Analyst II,IHS Markit,"Gurgaon/Gurugram, Bangalore/Bengaluru",IHS Markit
5,Business analyst + data Analysis,Anlage Infotech (I) Pvt. Ltd.,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Anlage Infotech (I) Pvt. Ltd.
6,Business analyst + data Analysis,Anlage Infotech (I) Pvt. Ltd.,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Anlage Infotech (I) Pvt. Ltd.
7,Data Analyst - Alteryx,Capco,Bangalore/Bengaluru,Capco
8,Consultant - Data Analyst,Flipkart,Bangalore/Bengaluru,Flipkart
9,Senior Business Analyst - Data Sciences and Ad...,Vmware,Bangalore/Bengaluru,Vmware

In [12]:
driver.close()

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [1]:
# import all required libraries
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import time

In [2]:
driver = webdriver.Chrome(r'/usr/bin/chromedriver') # chrome driver
time.sleep(2)

In [3]:
# opening naukri.com website on automated chrome window
driver.get('https://www.naukri.com')
time.sleep(5)

In [4]:
# finding elemen for job search bar
search_field_designation = driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys('Data Scientist')

In [5]:
# enter loaction bangalore in location search bar
search_field_designation = driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_field_designation.send_keys('Bangalore')

In [6]:
# clicking on search button 
search_button = driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[3]/div/div/div[6]')
search_button.click()
time.sleep(5)

In [7]:
job_title = [] 
job_location = []
company_name = []

In [8]:
job_title
# extract all the tags having the job_titles
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

# extract 10 title texts 
job_title = [i.text for i in title_tags[0 : 10]]
len(job_title)

10

In [9]:
job_location
# extract all the tags having the job_titles
location_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

# getting text from the location_tags
job_location = [i.text for i in location_tags[0 : 10]]
len(job_location)

10

In [10]:
company_name
# extrat all the tags having company_name
companies_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

# getting text fromt the company_name tags
company_name = [i.text for i in companies_tags[0:10]]
len(company_name)

10

In [11]:
# creating data frame
df = pd.DataFrame({'job_title' : job_title, 'company_name' : company_name, 'job_location' : job_location})
df

,job_title,company_name,job_location
0,Applied Data Scientist / ML Senior Engineer (P...,SAP India Pvt.Ltd,Bangalore/Bengaluru
1,Sr. Analyst - Applied Data Scientist,Tesco,Bangalore/Bengaluru
2,Data Scientist: Advanced Analytics,IBM,Bangalore/Bengaluru
3,Data Scientist: Artificial Intelligence,IBM,Bangalore/Bengaluru
4,Analyst - Applied Data Scientist,Tesco,Bangalore/Bengaluru
5,Research Data Scientist,Mavenir,Bangalore/Bengaluru
6,Lead Applied Data Scientist,Tesco Bengaluru,Bangalore/Bengaluru
7,Senior Data Scientist Grade12,Flipkart,Bangalore/Bengaluru
8,Senior Data Scientist Grade12,Flipkart,Bangalore/Bengaluru
9,Data Scientist / Analyst,Deutsche Bank,Bangalore/Bengaluru

In [12]:
driver.close()

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:  
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [13]:
# import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
import warnings
warnings.filterwarnings('ignore')

In [14]:
driver = webdriver.Chrome(r'/usr/bin/chromedriver')
time.sleep(2)

In [15]:
# opening up naukri.com website on automated chrome window
driver.get('https://www.naukri.com')
time.sleep(5)

In [16]:
# finding element for job search bar
search_field_designation = driver.find_element_by_class_name('suggestor-input') # job search bar
search_field_designation.send_keys('Data Scientist')

In [17]:
# clicking search button
search_button = driver.find_element_by_class_name('qsbSubmit') # search button
search_button.click()

In [18]:
# clicking bangalore lcoation checkbox
location_checkbox = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i")
location_checkbox.click()
time.sleep(5)

In [19]:
# selecting 3-6 lakh lsalary checkbox
salary_checkbox = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/i')
salary_checkbox.click()
time.sleep(5)

In [20]:
job_title = []

# Select job title
job_tag = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

# extract text in job_tag
job_title = [i.text for i in job_tag[0 : 10]]
job_title

['Analyst - Applied Data Scientist',
 'Senior Data Scientist',
 'Data Scientist - Internet Jobs - II',
 'Data Scientist',
 'Data Scientist 1',
 'Data Scientist',
 'Data Scientist II',
 'Data Scientist',
 'Data Scientist',
 'AI Resident - Data Scientist']

In [21]:
company_name = []

# Extracting company names tags 
company_tag = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

# Selecting text from company tags, top 10
company_name = [i.text for i in company_tag[0 : 10]]
company_name

['Tesco',
 'Truecaller',
 'Jobs Territory',
 'Aurigo Software Technologies Pvt Ltd',
 'PayPal',
 'Ashkom Media India Private Limited',
 'Groupon',
 'Randstad India Private Limited',
 'Applied Materials',
 'Shell']

In [22]:
expereience_list = []

# Extracting experience tags 
experience_tag = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')

# Extracting text from experience tags
experience_list = [i.text for i in experience_tag[0 : 10]]
experience_list

['1-2 Yrs',
 '2-5 Yrs',
 '3-6 Yrs',
 '4-6 Yrs',
 '4-8 Yrs',
 '3-6 Yrs',
 '3-6 Yrs',
 '1-5 Yrs',
 '0-3 Yrs',
 '3-4 Yrs']

In [23]:
job_location = []

# Selecting location by using xpath
location_tag = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

# Extracting location text from the tag, top 10
job_location = [i.text for i in location_tag[0:10]]
job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [24]:
len(experience_list)

10

In [25]:
df = pd.DataFrame({'job_title' : job_title, 'company_name' : company_name, 'job_location' : job_location, 'expereience' : experience_list})
df

,job_title,company_name,job_location,expereience
0,Analyst - Applied Data Scientist,Tesco,Bangalore/Bengaluru,1-2 Yrs
1,Senior Data Scientist,Truecaller,Bangalore/Bengaluru,2-5 Yrs
2,Data Scientist - Internet Jobs - II,Jobs Territory,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",3-6 Yrs
3,Data Scientist,Aurigo Software Technologies Pvt Ltd,Bangalore/Bengaluru\n(WFH during Covid),4-6 Yrs
4,Data Scientist 1,PayPal,Bangalore/Bengaluru,4-8 Yrs
5,Data Scientist,Ashkom Media India Private Limited,"Noida, Bangalore/Bengaluru",3-6 Yrs
6,Data Scientist II,Groupon,Bangalore/Bengaluru,3-6 Yrs
7,Data Scientist,Randstad India Private Limited,Bangalore/Bengaluru,1-5 Yrs
8,Data Scientist,Applied Materials,Bangalore/Bengaluru,0-3 Yrs
9,AI Resident - Data Scientist,Shell,Bangalore/Bengaluru,3-4 Yrs

In [26]:
# closing driver
driver.close()

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [110]:
# import all required libraries
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import time

In [111]:
driver = webdriver.Chrome(r'/usr/bin/chromedriver') # chrome driver
time.sleep(2)

In [112]:
# opening flipkart.com website on automated chrome window
driver.get('https://www.flipkart.com/')
time.sleep(5)

In [113]:
# closing the login pop up
close_button = driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]')
close_button.click()

In [114]:
# finding element for search bar
search_field = driver.find_element_by_class_name("_3704LK")
search_field.send_keys('sunglasses') # sending "sneakers" as input

In [115]:
# finding element for search button 
search_button = driver.find_element_by_class_name('L0Z3Pu')
search_button.click() # click on search button 
time.sleep(5)

In [116]:
Brand = []
Product_Description = []
Price = []

for i in range(0, 3):
    # Finding the brand element 
    brand_tag = driver.find_elements_by_class_name("_2WkVRV")
    for i in brand_tag: # iterate through elements in brand tag
        Brand.append(i.text) # extracting text from tag

    # Finding the Product Description
    description_tag = driver.find_elements_by_class_name('IRpwTa')
    for i in description_tag: # iterate trhough elements in description tag
        Product_Description.append(i.text) # extracting text from tag

    # Finding Price tags
    price_tag = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for i in price_tag: # iterate through elements in price tag
        Price.append(i.text)
    
    # Finding Next button element
    next_button = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [117]:
df = pd.DataFrame({'Brand' : Brand[0:100], "Product_Description" : Product_Description[0:100], 'Price' : Price[0:100]})
df

,Brand,Product_Description,Price
0,PIRASO,UV Protection Over-sized Sunglasses (64),₹287
1,Ray-Ban,Others Aviator Sunglasses (63),"₹5,339"
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹669
3,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹233
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹589
...,...,...,...
95,Ray-Ban,"Mirrored, UV Protection Aviator Sunglasses (58)","₹3,299"
96,PIRASO,UV Protection Rectangular Sunglasses (52),₹186
97,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹145
98,Elligator,UV Protection Aviator Sunglasses (55),₹283
99,AISLIN,"UV Protection, Gradient Retro Square Sunglasse...",₹448

In [118]:
driver.close()

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage .
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [27]:
# Lets now import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
import warnings
warnings.filterwarnings('ignore')

In [28]:
# initiating driver and opening browser
driver = webdriver.Chrome(r'/usr/bin/chromedriver') # driver for ubuntu
time.sleep(2)

In [29]:
# opening up flipkart 
url = """
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace
"""
driver.get(url)
time.sleep(5) # wait till the website opens

In [31]:
# selecting "All reviews"
all_reviews = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div/span')
all_reviews.click() # click the link

In [32]:
Rating = []
Review_summary = []
Full_review = []

# loopin through 10 pages of review having 10 reviews in them
for i in range(0, 10):

    # fetching rating 
    Rating_tag = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    # extracting all the rating text from the tag
    for i in Rating_tag: # iterate throught tag
        Rating.append(i.text) # append text to the list


    # Fetching summary tag
    summary_tag = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    # extracting all summary text from the summary_tag
    for i in summary_tag: # iterate through tags
        Review_summary.append(i.text) # appending text to the list
    


    # Fetching Full Review
    review_tag = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    # extracting text from the review_tag
    for i in review_tag: # iterate throught the elements in tag
        Full_review.append(i.text) # appending text to list
    
    # Finding next button
    next_button = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5) # wait 5seconds the next page loads

In [33]:
# create dataframe
df = pd.DataFrame({'Rating' : Rating, 'Review_summary' : Review_summary, 'Full_review' : Full_review})
df

,Rating,Review_summary,Full_review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,4,Good choice,So far it’s been an AMAZING experience coming ...
98,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
99,5,Highly recommended,What a camera .....just awesome ..you can feel...

In [34]:
driver.close()

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [53]:
# Lets now import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
import warnings
warnings.filterwarnings('ignore')

In [54]:
driver = webdriver.Chrome(r'/usr/bin/chromedriver')
time.sleep(2)

In [55]:
# opening flipkart.com
driver.get('https://www.flipkart.com')
time.sleep(5)

In [56]:
# closing the login pop up
close_button = driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]')
close_button.click()

In [57]:
# finding element for search bar
search_field = driver.find_element_by_class_name("_3704LK")
search_field.send_keys('sneakers') # sending "sneakers" as input

In [58]:
# finding element for search button 
search_button = driver.find_element_by_class_name('L0Z3Pu')
search_button.click() # click on search button

In [60]:
Brand = []
Product_Description = []
Price = []
Discount = []


for i in range(0, 3):
    # Finding the brand element 
    brand_tag = driver.find_elements_by_class_name("_2WkVRV")
    for i in brand_tag: # iterate through elements in brand tag
        Brand.append(i.text) # extracting text from tag

    # Finding the Product Description
    description_tag = driver.find_elements_by_class_name('IRpwTa')
    for i in description_tag: # iterate trhough elements in description tag
        Product_Description.append(i.text) # extracting text from tag

    # Finding Price tags
    price_tag = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for i in price_tag: # iterate through elements in price tag
        Price.append(i.text)

    # Selecting deiscount tag 
    discount_tag = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    for i in discount_tag: # iterate through elements in discount tag
            Discount.append(i.text)

    # Finding Next button element
    next_button = driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [61]:
print(len(Brand))
print(len(Product_Description))
print(len(Price))
print(len(Discount))

120
120
120
119

In [62]:
driver.close()

In [63]:
df = pd.DataFrame({'Brand' : Brand[0 : 100], 'Product_Description' : Product_Description[0 : 100], 'Price' : Price[0 : 100], 'Discount' : Discount[0 : 100]})
df

,Brand,Product_Description,Price,Discount
0,HRX by Hrithik Roshan,Sneakers For Men,"₹1,819",49% off
1,Numenzo,White Sneaker For Men Sneakers For Men,₹405,68% off
2,URBANBOX,Sneakers Sneakers For Men,₹148,85% off
3,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹245,81% off
4,corsac,STYLISH MENS BLACK AND WHITE SNEAKER Sneakers ...,₹449,70% off
...,...,...,...,...
95,Figor,Casual Sneaker Shoes Sneakers For Men,₹599,58% off
96,Labbin,Sneakers For Men,₹419,77% off
97,ASTEROID,Original Luxury Branded Fashionable Men's Casu...,₹449,70% off
98,aadi,Sneakers For Men,₹297,36% off
99,U.S. POLO ASSN.,TREGGER 2.0 Sneakers For Men,"₹2,939",60% off

Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.

In [61]:
# Import all the required librrires
import selenium
import pandas as pd
from selenium import webdriver
import time
import warnings
warnings.filterwarnings('ignore')

In [62]:
# Driver fro chrome
driver = webdriver.Chrome(r'/usr/bin/chromedriver')
time.sleep(2) # Wait for browser to open

In [63]:
# Opening https://www.myntra.com/shoes in chrome using driver
driver.get('https://www.myntra.com/shoes')
time.sleep(10)

In [64]:
# Selecting black color
black_color = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')

# Clicking on checkbox
black_color.click()
time.sleep(10)

In [65]:
# Selecting price checkbox
price_range_checkbox = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')

# Clicking on checkbox
price_range_checkbox.click()
time.sleep(10)

In [66]:
price_tag = driver.find_elements_by_xpath('//div[@class="product-price"]')
price = []
for i in price_tag:
    price.append(i.text)
print(len(price))

Description = []
description_tag = driver.find_elements_by_xpath('//h4[@class="product-product"]')
for i in description_tag: # iterate through items in descripttion tag list
    Description.append(i.text) 
print(len(Description))

Brand = []
brand_tag = driver.find_elements_by_xpath('//h3[@class="product-brand"]')
# Extracting brand name
for i in brand_tag:
    Brand.append(i.text)
print(len(Brand))

50
50
50

In [67]:
Brand = []
Description = []
Price = []

for i in range(0,4): # iterate 3 time to get 100+ data
    # Finding all the brand tags
    brand_tag = driver.find_elements_by_xpath('//h3[@class="product-brand"]')
    # Extracting brand name
    for i in brand_tag:
        Brand.append(i.text)

    # Finding all the description tags
    description_tag = driver.find_elements_by_xpath('//h4[@class="product-product"]')
    for i in description_tag: # iterate through items in descripttion tag list
        Description.append(i.text) # append text to Description list

    # Fetching all the price elements
    price_tag = driver.find_elements_by_xpath('//div[@class="product-price"]')
    for i in price_tag: # iterate through items in price_tag list
        Price.append(i.text)

    # Next button element
    next_button = driver.find_element_by_xpath('//li[@class="pagination-next"]')
    next_button.click() # click on next button
    time.sleep(4) # wait till the page loads

In [68]:
driver.close()

In [69]:
# creating data frame by passing dictionary 
df = pd.DataFrame({'Brand' : Brand[0 : 100], 'Description' : Description[0 : 100] , 'price' : Price[0 : 100] })
df

,Brand,Description,price
0,Nike,Men Winflo 7 Running Shoes,Rs. 7195Rs. 7995(10% OFF)
1,Skechers,Men Max Cushioning Running,Rs. 7199Rs. 8999(20% OFF)
2,UNDER ARMOUR,Men Vantage 2 Running Shoes,Rs. 7999
3,ALDO,Men Sneakers,Rs. 9999
4,Nike,Women React MR 3 Running Shoes,Rs. 8920Rs. 10495(15% OFF)
...,...,...,...
95,J.FONTINI,Men Leather Formal Loafers,Rs. 7490
96,Cole Haan,Women Leather Loafers,Rs. 11899Rs. 16999(30% OFF)
97,ALDO,Embellished Wedge Sandals,Rs. 7999
98,Bugatti,Women Textured Mules,Rs. 7999
99,FILA,Women Colourblocked Leather Sneakers,Rs. 9999

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
    After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [76]:
# Importing all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
import warnings
warnings.filterwarnings('ignore')

In [77]:
# Chrome driver 
driver = webdriver.Chrome(r'/usr/bin/chromedriver')

In [78]:
# Open amazon website
driver.get('https://www.amazon.in/')
time.sleep(5)

In [79]:
# Search input field tag
search_field = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
# Send "laptop" as key to input field
search_field.send_keys('Laptop')

In [80]:
# Search button element
search_button = driver.find_element_by_xpath('//div[@class="nav-search-submit nav-sprite"]')
# Clicking on search button
search_button.click()
time.sleep(5)

In [81]:
# processor checkbox
checkbox = driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div/label/i')
#click on checkbox
checkbox.click()


time.sleep(5)

In [82]:
Title = []
Ratings = []
Price = []

# Fetching title tag 
title_tag = driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
# Extracting text from title tag
for i in title_tag: # iterating through title tag
    Title.append(i.text) # appending text to title list

# Fetching price tag
price_tag = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
for i in price_tag: # iterating through price tag elements
    Price.append(i.text)

In [86]:
df = pd.DataFrame({'Title' : Title[0:10], 'Price' : Price[0:10]})
df

                                               Title     Price
0  Acer Predator Helios 300 11th Gen Intel Core i...  1,69,990
1  Mi Notebook Horizon Edition 14 Intel Core i7-1...    58,999
2  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...    57,490
3  Mi Notebook Ultra 3.2K Resolution Display Inte...    77,999
4  HP Pavilion 14, 11th Gen Intel Core i7-16GB RA...    86,990
5  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    86,900
6  Samsung Galaxy Book2 Intel 12th Gen core i7 39...    79,990
7  ASUS Zenbook 14X OLED Space Edition, 14" (35.5...  1,34,990
8  HP Pavilion 11th Gen Intel Core i7 Processor 1...    99,500
9  HP Pavilion 15 12th Gen Intel Core i7 16GB SDR...    92,400

In [72]:
driver.close()

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”

In [131]:
# import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
import warnings
warnings.filterwarnings('ignore')

In [132]:
driver = webdriver.Chrome(r'/usr/bin/chromedriver')
time.sleep(2)

In [133]:
# opening up naukri.com website on automated chrome window
driver.get('https://www.ambitionbox.com/')
time.sleep(5)

In [134]:
# Select job option
job = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
job.click() # click on job

In [135]:
# Input field 
input_field = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
input_field.send_keys('Data Scientis') # Send Data Scientist as input

In [136]:
# Select search button
search_button = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button')
search_button.click() # Click on search button
time.sleep(5)

In [137]:
# Select location dropdown
location_dropdown = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]')
location_dropdown.click() # Click on locaiton

In [138]:
# Entering location as Noida
search_field = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search_field.send_keys("Noida") # Sending input as Noida

In [139]:
# Noida radio button
radio_button = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
radio_button.click() # Click on radio button
time.sleep(2)

In [140]:
company_name = []
No_of_days = []
Rating = []

# company_name tag
name_tag = driver.find_elements_by_xpath('//a[@class="title noclick"]')
for i in name_tag:# Iterate through items in name tag
    company_name.append(i.text) # append text to company_name
    
# No of days ago posted
days_tag = driver.find_elements_by_xpath('//div[@class="other-info"]/span[1]')
for i in days_tag: # Iterate through items in days tag
    No_of_days.append(i.text) # append text to No_of_days list
    
# Ratings 
rating_tag = driver.find_elements_by_xpath('//span[@class="body-small"]')
for i in rating_tag: # Iterate through items of rating tag
    Rating.append(i.text)

In [141]:
driver.close()

In [142]:
# Creating DataFrame
df = pd.DataFrame({'company_name' : company_name, 'Rating' : Rating, 'No. of days ago when job was posted' : No_of_days })
df # Dispalying dataframe

,company_name,Rating,No. of days ago when job was posted
0,Applied Data Scientist / ML Senior Engineer (P...,4.4,20hr ago
1,Data Scientist: Artificial Intelligence,4.1,21hr ago
2,Data Scientist: Artificial Intelligence,4.1,21hr ago
3,Data Scientist: Artificial Intelligence,4.1,21hr ago
4,Data Scientist,4.1,3d ago
5,Lead Applied Data Scientist,4.1,18hr ago
6,Data Scientist: Artificial Intelligence,4.1,4d ago
7,Data Scientist: Artificial Intelligence,4.1,4d ago
8,Data Scientist: Artificial Intelligence,4.1,4d ago
9,Data Scientist: Artificial Intelligence,4.1,4d ago

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [87]:
# import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
import warnings
warnings.filterwarnings('ignore')

In [88]:
# driver open browser
driver = webdriver.Chrome(r'/usr/bin/chromedriver')
time.sleep(2) # wait till the browser loads

In [89]:
# opening up https://www.ambitionbox.com/
driver.get('https://www.ambitionbox.com/') # open ambition box website
time.sleep(5) # wati till the page loads

In [90]:
# select Salaries option
salaries = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
salaries.click() # click on salaries
time.sleep(4)

In [94]:
# Input field 
input_field = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div/div/div/div[1]/span/input')
input_field.send_keys('Data Scientist') # Send Data Scientist as input
time.sleep(5)

In [95]:
# Select Data Scientist option
ds = driver.find_element_by_xpath('//p[@class="tt_text"]')
ds.click()# click on Data Scientist

In [96]:
# Search button
search_button = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div/div/div/button')
search_button.click() # click on search button
time.sleep(5) # wait 5 seconds for the pag to load

In [97]:
company_name = []
total_salary_record = []
average_salary = []
minimum_salary = []
maximum_salary = []
experience_required = []

# Company name
name_tag = driver.find_elements_by_xpath('//div[@class="name"]/a')
for i in name_tag:
    company_name.append(i.text)
    
# Total salary record
total_tag = driver.find_elements_by_xpath('//div[@class="name"]/span')
for i in total_tag:
    total_salary_record.append(i.text)

# Experience required
experience_tag = driver.find_elements_by_xpath('//div[@class="salaries one-line sbold-list-header"]')
for i in experience_tag:
    experience_required.append(i.text)
    
# Minimum salary
salary = driver.find_elements_by_xpath('//div[@class="results-body"]/div/div[2]')
salary = [i.text.split('\n') for i in salary]

for i in salary:
    average_salary.append(i[0])
    minimum_salary.append(i[1])
    maximum_salary.append(i[2])

In [98]:
# closing driver
driver.close()

In [99]:
# creating a data dictionary
Data_dict = {
'company_name' : company_name, 
'total_salary_record' : total_salary_record, 
'average_salary' : average_salary, 
'minimum_salary' : minimum_salary, 
'maximum_salary' : maximum_salary, 
'experience_required' : experience_required
}

In [100]:
# creating dataframe
df = pd.DataFrame(Data_dict)
df

,company_name,total_salary_record,average_salary,minimum_salary,maximum_salary,experience_required
0,TCS,(791 Salaries),₹ 7.7L,₹ 4.5L,₹ 16.0L,2-9 yrs exp
1,Accenture,(478 Salaries),₹ 12.6L,₹ 5.5L,₹ 23.0L,2-9 yrs exp
2,IBM,(381 Salaries),₹ 13.2L,₹ 5.3L,₹ 25.0L,2-12 yrs exp
3,Cognizant,(304 Salaries),₹ 9.8L,₹ 5.0L,₹ 18.0L,2-10 yrs exp
4,Capgemini,(297 Salaries),₹ 8.6L,₹ 4.6L,₹ 15.0L,2-8 yrs exp
5,Infosys,(221 Salaries),₹ 9.1L,₹ 4.5L,₹ 24.0L,2-8 yrs exp
6,Tech Mahindra,(217 Salaries),₹ 7.8L,₹ 4.1L,₹ 16.5L,2-13 yrs exp
7,Wipro,(213 Salaries),₹ 9.7L,₹ 4.5L,₹ 18.2L,2-9 yrs exp
8,Deloitte,(163 Salaries),₹ 13.6L,₹ 7.0L,₹ 24.0L,1-7 yrs exp
9,Fractal Analytics,(151 Salaries),₹ 15.7L,₹ 9.7L,₹ 23.0L,2-6 yrs exp